<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="margin: 0;padding: 0;background-color: #5200FF;">
 
    <h1 style="color: white;margin-left: 3rem;margin-top: 3rem;">Admin Panel</h1>

        <form action="/adminSend" method="POST" style="margin-left: 3rem;">
            <input style="margin-bottom: 1rem;height: 2rem;width: 400px;font-size: 13px;padding-left: 1%;" type="text" name="ProfileImage" placeholder="Profile Image Link"><br>
            <input  style="margin-bottom: 1rem;height: 2rem;width: 400px;font-size: 13px;padding-left: 1%;" type="text" name="name" placeholder="Profile Name"><br>
            <input  style="margin-bottom: 1rem;height: 2rem;width: 400px;font-size: 13px;padding-left: 1%;" type="text" name="occupation" placeholder="Occupation"><br>
            <input  style="margin-bottom: 1rem;height: 4rem;width: 400px;font-size: 13px;padding-left: 1%;" type="text" name="description" placeholder="Description"><br>
            <input  style="margin-bottom: 1rem;height: 2rem;width: 400px;font-size: 13px;padding-left: 1%;" type="text" name="InstaLink" placeholder="Instagram Link"><br>
            <input  style="margin-bottom: 1rem;height: 2rem;width: 400px;font-size: 13px;padding-left: 1%;" type="text" name="WhtspLink" placeholder="Whatsapp Link"><br>
            <input style="margin-bottom: 1rem;height: 2rem;width: 400px;font-size: 13px;padding-left: 1%;" type="text" name="LinkedInLink" placeholder="Linked In Link"><br>
            <button>Create My Portfolio</button>
        </form>
</body>
</html>